body{
    background: linear-gradient(116.01deg, #719544 11.55%, #1F3206 128.11%);
}

.firstlayer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ECF0F3;
    border-radius: 32px;
    width: 1400px;
    height: 900px;

    box-shadow: 24px 24px 48px rgba(255, 255, 255, 0.12), -24px -24px 48px rgba(0, 0, 0, 0.25);
}

.firstlayer .formlogin{
    padding-right: 100px;
}

.clipcircle{
    display: flex;    
    padding-left: 0vw;
    align-items: center;
    border-radius: 32px;


    background-image: linear-gradient(135deg, #719544 ,#1F3206);
    width: 680px;
    height: 704px;
    clip-path: circle(680px at -100px 50%);
}
